global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

frontend easytravel
    mode http
    bind *:80
    bind *:443
	acl is_etadmin hdr_beg(host) -i etadmin
    use_backend easytravel_admin if is_etadmin
	acl is_etangular hdr_beg(host) -i etangular
    use_backend easytravel_angular if is_etangular
    default_backend easytravel_classic

backend easytravel_classic
    mode http
    server easytravel 127.0.0.1:8079 check

backend easytravel_angular
    mode http
    server easytravel 127.0.0.1:9079 check

backend easytravel_admin
    mode http
    server easytravel 127.0.0.1:8094 check
